* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body,
html {
    height: 100%;
}
  
@font-face {
    font-family: "Inter-Bold";
    src: url(assets/font/Inter-Bold.ttf);
}
  
@font-face {
    font-family: "Inter-Medium";
    src: url(assets/font/Inter-Medium.ttf);
}
  
:root {
    --background-color: #422308;
    --text-color: #f0d1a0;
    --hover-color: #eec07b;
    --footer-color: #6d3200;
}
  
/* start of navigation */
.nav{
    position: sticky;
    background: var(--background-color);
    padding: 1rem;
    display: flex;
    justify-content: center;
}
  
  
.nav a {
    padding: 1rem;
    text-decoration: none;
    color: var(--text-color);
    font-family: "Inter-Medium";
    font-size: 1.5rem;
}
.burger-dropdown {
    display: none;
}
.burger-menu svg {
    display: none;
}
  
.nav-container a:hover {
    color: var(--hover-color);
    font-family: 'Inter-Medium',monospace, Courier;
}
/* end of navigation */
.greeting{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 4rem;
    font-size: 2rem;
}
.greeting h1{
    font-family: 'Inter-Bold',monospace, Courier;
}
.greeting p{
    padding: 2rem;
    font-family: 'Inter-Medium',monospace, Courier;
    line-height: 150%;
    width: 40%;
}




.card-container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    margin: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    max-width: 500px;
    font-family: 'Inter-Bold',monospace, Courier;   
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
}
.card img{
    height: 300px;
    width: 500px;
    object-fit: cover;
}
.container{
    padding: 1rem;
}
.container h2,.container p,.container h6,.container button{
    margin: 1rem;
    font-size: 1.5rem;
}

.container button{
    padding: 10px;
    font-family: 'Inter-Medium',monospace, Courier;
    background-color: var(--background-color);
    color:var(--text-color);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.container button:active{
    background-color:#1e1003;
    color:var(--text-color);
}
.checkout-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right:60%;
}
.checkout{
    font-family: 'Inter-Bold',monospace, Courier;
    padding: 5rem;
    font-size: 2rem;
}
.checkout button{
    font-family: 'Inter-Bold',monospace, Courier;
    padding: 10px;
    margin-top: 10%;
    background-color: var(--background-color);
    color:var(--text-color);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}
@media screen and (max-width:768px) {
    .nav{
        display: none;
    }
    .burger-menu{
        background: var(--background-color);
        padding: 1.5rem;
    }
    .burger-menu a{
        display: flex;
        text-decoration: none;
        color: var(--text-color);
        font-family: 'Inter-Bold';
        justify-content: center;
        padding: 2rem;
        font-size: 1.25rem;
    }

    .burger-dropdown{
        display: flex;
        position: relative;
        flex-direction: column;
        right: -100%;
        display: none;
        cursor: pointer;
        fill: var(--text-color);
        background: var(--background-color);
    }
    
    .burger-menu svg {
        display: flex;
        margin-left: auto;
        cursor: pointer;
        fill: var(--text-color);
        
    }
    
    .burger-dropdown.active {
        right: 0%;
        display: block;
    }
    .burger-dropdown a:hover {
        color: var(--hover-color);
    }
    .greeting{
        
        margin: 1rem;
        font-size: 1.3rem;
    }
    .greeting p{
        padding: 0.5rem;
        width: 100%;
    }
    .card-container{
        justify-content: center;
    }
    .card{   
        display: flex;
        flex-direction: column;
    }
    .card img{
        height: 300px;
        width: 320px;
        object-fit: cover;
    }
    .checkout-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right:40%;
    }
}